{% extends "base.html" %}
{% block content %}

       
        <h2 class="film_list">Add Film Review</h2>
            
     <div class="divider"></div>
          <div class="section white-text indigo darken-1">
            <div class="row">
              <div class="col s7 push-s5"><span class="flow-text"><p>{{ film.synopsis }}</p><p> Added by :- {{ film.created_by }} </p> 
                {% for genre in film.genre %}
                <span class="new badge" data-badge-caption="{{genre}}"></span>
                {% endfor %}</span>
              </div>
              <div class="col s5 pull-s7"><span class="flow-text"><h2><strong>{{ film.title }}</strong></h2>
                <p>Directed by :- {{ film.director }}</p><p>Rating : {{ film.rating }} &emsp;</p></span>
                <a href="#" class="btn-small red accent-4">Add Review</a>
              </div>
            </div> 
          </div>
          <div class="divider"></div>
          <div class="section white-text indigo darken-1">
            <div class="row">
              <form method="POST" action="{{url_for('add_review', films_id=film._id)}}">
                <input type="hidden" value="{{ film.title }}" name="film_title">
                <input type="hidden" value="{{ film.director }}" name="director">
                <input type="hidden" value="{{ film.release_year }}" name="release_year">
                <input type="hidden" value="{{ film.synopsis }}" name="synopsis">
                <input type="hidden" value="{{ film.rating }}" name="rating">
                <div class="input-field col s12 genre_option"hidden>
                  <select multiple id="genre_type" name="genre_type[]" class="validate" required hidden>
                    <option value="" disabled >Choose your genre(s)</option>
                    {% for genre in genres %}
                        {% if genre.genre in film.genre %}
                          <option value="{{ genre.genre }}" selected>{{ genre.genre }}</option>
                        {% else %}
                          <option value="{{ genre.genre }}">{{ genre.genre }}</option>
                       {% endif %}
                    {% endfor %}
                  </select>
                  <label for="genre_type">Select Genre</label>
                </div>
              <div class="input-field col s12">
                <textarea id="review" class="materialize-textarea" name="review[]" minlength="15" maxlength="300" required></textarea>
                <label for="review">Review</label>
              </div>
            </div>
            <div class="row">
              <div class="col s12 center-align">
                  <button type="submit" class="btn-large indigo darken-1">
                      Submit Review <i class="fas fa-plus-square right"></i>
                  </button>
                </form>
              </div>
           </div>
          </div>
                
                

  {% endblock %}
    
    <footer class="page-footer indigo darken-1">
        <div class="container">
        <div class="row social-links">
            <div class="col s4">
                <a href="https://www.facebook.com/" target="_blank" aria-label="facebook-link"><i class="fab fa-facebook-square"></i></a>
            </div>
            <div class="col s4">
                <a href="https://www.instagram.com/" target="_blank" aria-label="instagram-link"><i class="fab fa-instagram-square"></i></a>
            </div>
            <div class="col s4">
                <a href="https://twitter.com/" target="_blank" aria-label="twitter-link"><i class="fab fa-twitter-square"></i></a>
            </div>
        </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js')}}"></script>
</body>
</html>
