{% extends "base.html" %}
{% block content %}

<h3 class="add_film">Edit Film</h3>
<div class="row indigo-text white">
    <form class="col s12" method="POST" action="{{url_for('edit_film', films_id=films._id)}}">
        <!-- Film Title -->
      <div class="row">
        <div class="input-field col s6">
          <i class="fas fa-film"></i> 
          <input id="film_title" type="text" name="film_title" class="validate" minlength="1" maxlength="30"
            value="{{ films.title }}" required>
          <label for="film_title">Film Title</label>
        </div>
        <!-- Film Director -->
        <div class="input-field col s6">
          <i class="fas fa-bullhorn"></i>
          <input id="director" type="text" name="director" value="{{ films.director }}" class="validate" minlength="5" maxlength="30" required>
          <label for="director">Director</label>
        </div>
        <!-- Film Release Year -->
        <div class="input-field col s6">
            <i class="far fa-calendar-alt"></i>
            <input id="release_year" type="text" name="release_year" value="{{ films.release_year }}" class="datepicker validate" required>
            <label for="release_year">Release Year</label>
          </div>
          <!-- Film Genre -->
          <div class="input-field col s12">
            <select multiple id="genre_type" name="genre_type[]" class="validate" required>
              <option value="" disabled >Choose your genre(s)</option>
              {% for genre in genres %}
                  {% if genre.genre in films.genre %}
                    <option value="{{ genre.genre }}" selected>{{ genre.genre }}</option>
                  {% else %}
                    <option value="{{ genre.genre }}">{{ genre.genre }}</option>
                 {% endif %}
              {% endfor %}
            </select>
            <label for="genre_type">Select Genre</label>
          </div>
          <!-- Film Synopsis -->
            <div class="row">
              <div class="input-field col s12">
                <textarea id="synopsis" class="materialize-textarea" name="synopsis" minlength="15" maxlength="300" required>
                  {{- films.synopsis -}}
                </textarea>
                <label for="synopsis">Synopsis</label>
              </div>
            </div>
          <!-- Film Rating -->
            <p class="range-field">
                <label for="rating">Rating</label>
              <input type="range" id="rating" name="rating" value="{{ films.rating }}" min="1" max="100" required/>
            </p>
          <!-- submit button -->
          <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large indigo darken-1">
                    Edit Film <i class="fas fa-edit right"></i>
                </button>
            </div>
        </div>
      </div>
    </form>
  </div>
 
{% endblock %}


<footer class="page-footer indigo darken-1">
    <div class="container">
    <div class="row social-links">
        <div class="col s4">
            <a href="https://www.facebook.com/" target="_blank" aria-label="facebook-link"><i class="fab fa-facebook-square"></i></a>
        </div>
        <div class="col s4">
            <a href="https://www.instagram.com/" target="_blank" aria-label="instagram-link"><i class="fab fa-instagram-square"></i></a>
        </div>
        <div class="col s4">
            <a href="https://twitter.com/" target="_blank" aria-label="twitter-link"><i class="fab fa-twitter-square"></i></a>
        </div>
    </div>
    </div>
</footer>