{% extends "base.html" %}
{% block content %}

    <main>
        <div class="row ">
            <div class="col s12 m4 l8">
            </div>
        </div>
        <div class="row main-body">
           <div class="col s12 m4 l8">
                 
            {% for film in films %}
            {{ film.title }}<br>
            {{ film.director }}<br>
            {{ film.release_year }}<br>
            {{ film.genre }}<br>
            {{ film.synopsis }}<br>
            {{ film.avg_rating }}<br>
            {% endfor %}

            <ul class="collapsible">
                <li>
                  <div class="collapsible-header white-text indigo darken-1"><i class="fas fa-caret-down"></i>First</div>
                  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                  <div class="collapsible-header white-text indigo darken-1"><i class="fas fa-caret-down"></i>Second</div>
                  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                  <div class="collapsible-header white-text indigo darken-1"><i class="fas fa-caret-down"></i>Third</div>
                  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
              </ul>
            

            </div>
        </div>

  </main>

  {% endblock %}
    
    <footer class="page-footer indigo darken-1">
        <div class="container">
        <div class="row social-links">
            <div class="col s4">
                <a href="https://www.facebook.com/" target="_blank" aria-label="facebook-link"><i class="fab fa-facebook-square"></i></a>
            </div>
            <div class="col s4">
                <a href="https://www.instagram.com/" target="_blank" aria-label="instagram-link"><i class="fab fa-instagram-square"></i></a>
            </div>
            <div class="col s4">
                <a href="https://twitter.com/" target="_blank" aria-label="twitter-link"><i class="fab fa-twitter-square"></i></a>
            </div>
        </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js')}}"></script>
</body>
</html>
