{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <h3 class="center-align light-blue-text text-darken-4">
                    {{ username }}'s Profile
                </h3>
            </div>
        </div>
    </div>
    <div class="col s12 m4 l8">
        <a href="{{url_for('add_film')}}" class="btn-small red accent-4">Add Film</a>
    </div>

    

{% endblock %}


<footer class="page-footer indigo darken-1">
    <div class="container">
    <div class="row social-links">
        <div class="col s4">
            <a href="https://www.facebook.com/" target="_blank" aria-label="facebook-link"><i class="fab fa-facebook-square"></i></a>
        </div>
        <div class="col s4">
            <a href="https://www.instagram.com/" target="_blank" aria-label="instagram-link"><i class="fab fa-instagram-square"></i></a>
        </div>
        <div class="col s4">
            <a href="https://twitter.com/" target="_blank" aria-label="twitter-link"><i class="fab fa-twitter-square"></i></a>
        </div>
    </div>
    </div>
</footer>